.container {
  width: 400px;
  margin-top: 30px;
  background-color: #fbf3dc;
  padding: 20px 40px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
  margin-right: 5px;
}
