.container {
  width: 400px;
  height: 400px;
  background-color: red;
}

.header {
  font-size: 12px;
  color: #999;
}

.salaryTypeContainer {
  padding-left: 10px;
}

.inputContainer {
  margin-top: 10px;
  padding-left: 35px;
}

.row {
  display: flex;
  align-items: center;
  height: 30px;
}
